h1{
    color:blue;
    text-align: center;
}
p{
    color:red;
}
div{
    background-color: yellowgreen;
    width: 80%;
    height: 20%;
    margin: 5%;
    padding: 1%;
}
.letra-arial-grande{
    font-family: Arial, sans-serif;
    font-size:28px;
    font-weight:bold;
}