<!-- ESTE ES EL HTML CON LAS DIFERENCIAS PUNTUALES QUE CAMBIAN RESPECTO AL LAYOUT07 COMUN -->
<!-- Por lo tanto, se debe llamar al "index_07_layout.html" para indicar que este HTML es una extension -->
<!-- Y se debe indicar congruentemente los nombres de los bloques a annadir con respecto al layout. -->


<!-- Indicamos que "index_07_B.html" es una extension de "index_07_layout.html"  -->
{% extends "index_07_layout.html" %}


<!-- Ahora indicamos esos bloques con su respectivo contenido puntual (los indicados en layout)  -->
{% block TITULO %}
    SÚPER MEGA PÁGINA BASADA EN LAYOUT CON INDEX B
{% endblock %}

<!-- Mostramos el link para ir a index_07_B.html (osea el que aparece en index_07_A.html) -->
{% block LINK_RESPECTIVO %}
    <a href="{{ url_for('index') }}">IR A PAGINA PRINCIPAL (A) </a>
{% endblock %}

