<!DOCTYPE html>
<!-- PAGINA PARA DEMOSTRAR CONEXION CORRECTA A TRAVES DE FLASK-->
<html>
    <head>
        <!--De esta manera agregamos codificacion para utilizar caracteres latinos (y de español)-->
        <meta charset="UTF-8">
        
        <!-- Esta linea siguiente indica capacidad de adaptarse al tamanno del viewport del equipo -->
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        
        <!-- Ahora agregamos estilos a traves de Bootstrap (facilita desarrollo) -->
        <!-- LINK PAGINA BOOTSTRAP:  https://www.bootstrapcdn.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- Agregamos fuente bacana para el titulo del h1 principal -->
        <!-- Recordar que esto lo hacemos MUY facil con google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

        <!-- Como tendremos pocos estilos, NO creare archivo css, sino que lo hare aqui mismo -->
        <style>
            body {
                background-color: lightcyan;
            }
            h1 {
                background-color: #00DDFF;
                text-align: center;
                padding: 10px;
                font-family: 'Bangers', cursive;
            }

            h3 {
                background-color: #419DFF;
                text-align: center;

            }

            .centrado , h4 {
                text-align: center;
            }

        </style>


        <title>FLASK INTEGRADO</title>
    </head>
    <body>
        <h1>PRIMER ARCHIVO TIPO HTML CONECTADOR DESDE FLASK</h1>
        <!-- Creamos division con formato "row" para indicarlo como "fila" -->
        <!-- Luego, indicamos cada seccion de espacio segun el tamanno (ya sea largo o pequenno) -->
        <!-- Recordar que las columnas con bootstrap tienen total de 12 espacios propios -->
        <div class="row">
                <div class ="col-4">
                </div>
                <div class ="col-4">
                    <h3>IOT</h3>
                </div>  
                <div class ="col-4">
                    <h3>EDM</h3>
                </div>  
        </div>

        <br>
        <!-- Otra ayuda de Bootstrap es crear "contenedores" y estilarlos tipo "alertas" (ayuda a generar estilo bacano) -->
        <div class="container col-12">
            <div class="alert alert-secondary" role="alert">
                <h4>¡Cada vez vas teniendo más elementos para haccer grandes proyectos! (Recuerda practicar)</h4>
            </div>
        </div>


    </body>
</html>